<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816933314049-c8dtn88rbber5b8rglbjiabfau0blr12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816933314049-c8dtn88rbber5b8rglbjiabfau0blr12</string>
	<key>API_KEY</key>
	<string>AIzaSyBYPZA6uTEuePwTgHFc8WehaRKcjmp-GN0</string>
	<key>GCM_SENDER_ID</key>
	<string>816933314049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.centraloftalmica.cliente</string>
	<key>PROJECT_ID</key>
	<string>central-oft-cliente</string>
	<key>STORAGE_BUCKET</key>
	<string>central-oft-cliente.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816933314049:ios:2bbb82e9628eb0871c2a00</string>
	<key>DATABASE_URL</key>
	<string>https://central-oft-cliente.firebaseio.com</string>
</dict>
</plist>